.logo {
width: 144px;
height: 44px;
margin-left: 31px;
margin-top: 12px;
margin-bottom: 12px;
}

.titulo-amarelo {  
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
color: #FFDD36;
margin-left: 14%;
margin-top: 100px;
width: 476px;
height: 86px;
}

.span-bold {
    font-weight: bold;
}


.section-icon {
    width: 33%;
}
.banner {
background: url("./assets/fundo-ebook-lp.png");
padding-bottom: 4em;
}

.icon-title {
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFDD36;
}

/* Formulario */
.label-form {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin-left: 65px;
    
    color: #101D62;}
.retangulo {
    padding-top: 30px;
max-width: 420px;
height: 549px;
background: #FFDD36;
border-radius: 15px;
margin-top: 100px;
margin-left: 100px;
}

form {
    margin-top: 80px; 
}

.titulo-form {
    text-transform: uppercase;
    font-family: Rubik;
    font-style: normal;
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #101D62;
}
input {
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 12px;
    margin-bottom: 4%;

}



button {
color: white;
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 18px;
height: 60px;
background: #101D62;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding-left: 4em;  
padding-right: 4em;  
margin-top: 20px;

}

.container {
    display: flex;
    width: 100%;
    
    
}

.container-icons {
    display: flex;
    margin-left: 120px;
}

.section-one {
    width: 60%;
}

.section-two {
    width: 40%;
}

.paragrafo {
margin-top: 5%;
font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
text-align: justify;
margin-left: 15%;
margin-right: 15%;
}

.rodape {

    margin-right: 10%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}


@media (max-width:1100px) {
    .container {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .container-icons {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 0px;
      }
    .section-icon {
        width: 100%;
    }

    .section-one {
        width: 100%;
    }
    
    .section-two {
        width: 100%;
        display: flex;
justify-content: center;
    }

    .rodape {
        margin-right: 0;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }


    .retangulo {

    margin-left: 0px;
    justify-self: center;
    }
    
        }
      